.game-container {
  display: flex;
  flex-direction: row nowrap;
}

.about-container {
  color: blue;
}

.arrow-board-containr {
  width: 600px;
  background-color: pink;
  border: 1px solid black;
}
