.game-container {
  display: flex;
  flex-direction: row nowrap;
  background-color: black;
  color: white;
}

.about-container {
  color: white;
  background-color: black;
  padding: 10px;
}

.arrow-board-container {
  max-width: 100%;
  background-image: url("background.jpg");
  border: 1px solid black;
}
